@font-face {
  font-family: "DIN Next LT Pro Regular";
  src: url("../resources/fonts/DINNextLTPro-Regular.ttf"); }

@font-face {
  font-family: "DIN Next LT Pro Medium";
  src: url("../resources/fonts/DINNextLTPro-Medium.ttf"); }

/*---------- RESET DE CSS ----------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  height: 100%; }

body {
  line-height: 1;
  height: calc(100% - 321px); }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*---------- TERMINA RESET DE CSS ----------*/
.nav {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  background-color: white;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px;
  column-gap: 30px;
  grid-template-areas: "logo logo logo logo nav nav nav nav nav nav cart cart";
  align-items: center;
  justify-content: end;
  z-index: 1; }
  .nav__logoContainer {
    width: 100%;
    height: 60px;
    grid-area: logo;
    grid-column-start: 2;
    z-index: 3; }
  .nav__logo {
    width: 204px;
    height: 60px; }
  .nav__icoMobile {
    display: none; }
  .nav__menuDesktop {
    width: 100%;
    margin: auto;
    grid-area: nav; }
    .nav__menuDesktop ul {
      height: 16px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 10%; }
    .nav__menuDesktop li {
      height: 16px;
      margin-left: 100px;
      list-style: none;
      text-transform: uppercase; }
    .nav__menuDesktop a {
      font-family: "Poppins", sans-serif;
      font-size: 16px;
      line-height: 16px;
      text-decoration: none;
      font-weight: 600;
      color: black; }
  .nav__menuMobile {
    display: none; }
  .nav__carrito {
    grid-area: cart;
    grid-column-end: 12;
    width: min-content;
    position: relative; }
    .nav__carrito__cant {
      width: 20px;
      height: 20px;
      text-align: center;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 14px;
      line-height: 14px;
      background-color: #ff3300;
      color: white;
      position: absolute;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      left: calc(100% - 10px);
      top: calc(0% - 10px); }
  .nav__cart {
    height: 31px;
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 12px;
    border-radius: 6px;
    background-color: black;
    color: white;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out; }
    .nav__cart p {
      font-family: "Poppins", sans-serif;
      font-size: 16px;
      line-height: 16px;
      font-weight: 600;
      margin-right: 12px;
      visibility: visible; }
    .nav__cart i {
      font-size: 16px; }
    .nav__cart:hover {
      background-color: #4d4d4d;
      cursor: pointer; }
    .nav__cart.disabled {
      color: gray;
      background-color: white;
      cursor: default; }
      .nav__cart.disabled p {
        visibility: hidden; }
  .nav__submenu {
    min-width: 350px;
    right: 0;
    top: 65px;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: none;
    position: absolute;
    z-index: 2;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
    text-align: center; }
    .nav__submenu__title {
      font-family: "DIN Next LT Pro Medium", sans-serif;
      font-size: 18px;
      line-height: 14px;
      letter-spacing: 1.25px;
      text-transform: uppercase;
      margin-bottom: 15px;
      text-align: left; }

.lista__carrito {
  width: 100%;
  text-align: center;
  border-collapse: separate;
  border-spacing: 0 5px; }
  .lista__carrito__imagen, .lista__carrito img {
    width: 50px;
    height: 50px;
    vertical-align: middle; }
  .lista__carrito__producto {
    vertical-align: middle;
    text-align: left;
    font-family: "DIN Next LT Pro Medium", sans-serif;
    font-size: 14px;
    padding: 0px 12px; }
  .lista__carrito__cantidad {
    width: 25px;
    vertical-align: middle;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px; }
  .lista__carrito__precio {
    width: 39px;
    vertical-align: middle;
    font-family: "DIN Next LT Pro Medium", sans-serif;
    font-size: 14px;
    padding: 0px 12px; }
  .lista__carrito__delete {
    width: 14px;
    height: 14px;
    vertical-align: middle; }
  .lista__carrito tr {
    margin-bottom: 5px; }

.fa-times {
  font-size: 14px;
  color: black; }

.btn.comprar__carrito {
  width: 100%;
  height: 36px;
  margin-top: 15px;
  font-family: "DIN Next LT Pro Medium", sans-serif;
  font-size: 14px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  border: 1px solid black;
  border-radius: 4px; }
  .btn.comprar__carrito:hover {
    background-color: #cccccc; }

.btn.eliminar__carrito {
  margin-top: 20px;
  font-family: "DIN Next LT Pro Medium", sans-serif;
  font-size: 14px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 0; }
  .btn.eliminar__carrito:hover {
    color: gray; }

.btn.checkout__pago {
  width: 100%;
  color: white;
  background-color: black;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out; }
  .btn.checkout__pago:hover {
    color: white;
    background-color: #4d4d4d; }

.main {
  width: 100%;
  display: grid;
  margin-top: 100px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto auto auto auto;
  column-gap: 30px;
  column-width: 65px;
  grid-template-areas: "banner banner banner banner banner banner banner banner banner banner banner banner" "marcas marcas marcas marcas marcas marcas marcas marcas marcas marcas marcas marcas" "productos productos productos productos productos productos productos productos productos productos productos productos" "promo promo promo promo promo promo promo promo promo promo promo promo" "servicios servicios servicios servicios servicios servicios servicios servicios servicios servicios servicios servicios"; }

.checkout {
  width: 100%;
  min-height: 100%;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  column-gap: 30px;
  column-width: 65px;
  grid-template-areas: "container container container container container container container container container container container container"; }
  .checkout__volver {
    max-width: 350px;
    height: 36px;
    margin-top: 30px;
    font-family: "DIN Next LT Pro Medium", sans-serif;
    font-size: 14px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 4px; }
    .checkout__volver:hover {
      background-color: #cccccc; }
  .checkout__container {
    width: 100%;
    grid-area: container;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    grid-template-rows: auto;
    column-gap: 30px;
    overflow: hidden; }
    .checkout__container__productos {
      width: 90%;
      margin: 0 auto; }
      .checkout__container__productos__title {
        margin-top: 30px;
        margin-bottom: 30px; }
    .checkout__container__form {
      width: 100%;
      background-color: #e6e6e6;
      padding-right: 8.33%;
      font-family: "Poppins", sans-serif; }
      .checkout__container__form__title {
        margin-top: 96px;
        margin-bottom: 30px; }
      .checkout__container__form form {
        max-width: 80%;
        margin: auto; }
      .checkout__container__form-boton {
        text-align: right;
        margin-bottom: 30px; }
      .checkout__container__form #precio__total {
        font-family: "DIN Next LT Pro Medium", sans-serif;
        font-size: 28px;
        line-height: 20px;
        text-align: right;
        margin-top: 30px; }
    .checkout__container__pago {
      display: none;
      width: 100%;
      max-width: 400px;
      height: 600px;
      background-color: #e6e6e6;
      margin: 0 auto;
      margin-top: 150px;
      position: relative;
      opacity: 0; }
      .checkout__container__pago__tarjeta {
        width: 300px;
        height: 150px;
        background-color: red;
        position: absolute;
        left: calc(50% - 150px);
        top: calc(0% - 75px);
        border-radius: 10px; }
        .checkout__container__pago__tarjeta:hover {
          animation-duration: 1s;
          animation-name: flip; }
  .checkout__producto {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px; }
    .checkout__producto__imagen {
      max-width: 120px; }
    .checkout__producto__detalle {
      width: 100%;
      height: 120px;
      padding-left: 30px; }
    .checkout__producto__nombre {
      font-family: "DIN Next LT Pro Medium", sans-serif;
      font-size: 24px; }
    .checkout__producto__unidades {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      margin-top: 14px; }
    .checkout__producto__cantidad {
      font-family: "DIN Next LT Pro Regular", sans-serif;
      font-style: normal;
      font-size: 14px;
      line-height: 14px; }
    .checkout__producto__precio {
      font-family: "DIN Next LT Pro Medium", sans-serif;
      font-size: 20px;
      line-height: 20px;
      text-align: right; }

@keyframes flip {
  0% {
    transform: rotateY(0deg); }
  /* 50%{
		transform: rotateY(180deg)
	} */
  100% {
    transform: rotateY(180deg); } }

.flip {
  width: inherit;
  height: inherit;
  transition: 0.7s;
  transform-style: preserve-3d;
  animation: flip 2.5s ease; }

.checkout form input {
  border: 1px solid #988; }

.checkout form select {
  border: 1px solid #988; }

.checkout form #selectProvincia {
  border: 1px solid #988; }

.banner {
  width: 100%;
  max-height: 300px;
  grid-area: banner; }
  .banner img {
    width: 100%;
    max-height: 300px;
    object-fit: cover; }

.titulo {
  height: 29px;
  font-family: "DIN Next LT Pro Medium", sans-serif;
  font-size: 24px;
  line-height: 24px;
  border-left: 4px solid black;
  padding-top: 5px;
  padding-left: 15px;
  text-transform: uppercase; }

.marcas {
  width: 100%;
  margin-top: 60px;
  grid-area: marcas;
  grid-column-start: 2;
  grid-column-end: 12; }
  .marcas__logos {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center; }
    .marcas__logos img {
      width: 100%;
      max-height: 120px;
      object-fit: contain; }
  .marcas__carrousel {
    display: none; }

.alerta {
  width: 70%;
  top: 100%;
  left: 50%;
  display: none;
  opacity: 0;
  position: absolute;
  margin: 0;
  margin-left: -35%;
  z-index: 1; }
  .alerta-hidden {
    opacity: 0; }

.productos {
  margin-top: 60px;
  grid-area: productos;
  grid-column-start: 2;
  grid-column-end: 12; }
  .productos__header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px; }
  .productos__filtro {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center; }
    .productos__filtro-title {
      margin-right: 30px;
      font-family: "Poppins", sans-serif; }
    .productos__filtro .form-select {
      width: max-content;
      font-family: "Poppins", sans-serif; }
  .productos .col {
    text-align: center; }

.producto {
  margin-top: 15px;
  margin-bottom: 15px; }
  .producto__imagenProducto {
    width: 100%;
    max-width: 350px;
    object-fit: cover;
    vertical-align: middle;
    margin: 0; }
  .producto__detalle {
    width: 100%;
    max-width: 350px;
    background-color: #e6e6e6;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    margin: 0;
    font-family: "DIN Next LT Pro Medium", sans-serif;
    letter-spacing: 1.25px;
    margin: auto; }
  .producto__nombre {
    width: 70%;
    line-height: 16px;
    font-size: 16px;
    text-align: start;
    overflow: hidden;
    text-overflow: ellipsis; }
  .producto__precio {
    width: 30%;
    font-size: 18px;
    text-align: right; }
  .producto__btn__agregarCarrito {
    width: 100%;
    max-width: 350px;
    height: 36px;
    font-family: "DIN Next LT Pro Medium", sans-serif;
    font-size: 14px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 4px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out; }
    .producto__btn__agregarCarrito:hover {
      background-color: #cccccc; }
    .producto__btn__agregarCarrito i {
      margin-right: 8px; }

.verMas {
  height: 36px;
  min-width: 64px;
  font-family: "DIN Next LT Pro Medium", sans-serif;
  font-size: 14px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-left: auto; }
  .verMas i {
    margin-right: 8px;
    margin-bottom: 2px;
    font-size: 14px; }

.bannerPromo {
  grid-area: promo;
  position: relative;
  margin-top: 60px; }
  .bannerPromo__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100px;
    left: 10%; }
  .bannerPromo__texto {
    font-family: "DIN Next LT Pro Medium", sans-serif;
    color: white;
    font-size: 72px;
    text-align: center; }
  .bannerPromo img {
    width: 100%;
    height: 450px;
    object-fit: cover; }
  .bannerPromo a {
    width: 250px;
    height: 60px;
    margin-top: 50px;
    background-color: white;
    color: black;
    font-family: "DIN Next LT Pro Medium", sans-serif;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .bannerPromo a:hover {
      background-color: #cccccc; }

.servicios {
  grid-area: servicios;
  display: flex;
  align-items: center;
  grid-column-start: 2;
  grid-column-end: 12; }
  .servicios__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(11.3rem, 1fr));
    column-gap: 1.8rem;
    row-gap: 1.8rem;
    margin-top: 30px;
    margin-bottom: 30px; }
  .servicios__card {
    width: 100%;
    height: 168px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e6e6e6;
    border-radius: 6px; }
    .servicios__card img {
      width: 40px;
      height: 40px;
      margin-bottom: 30px; }
    .servicios__card p {
      font-family: "DIN Next LT Pro Regular", sans-serif;
      font-size: 16px;
      letter-spacing: 0.5px;
      text-align: center; }

.footer {
  height: 220px;
  margin: 0 6%; }
  .footer__separator {
    color: black;
    margin: 0; }
  .footer__container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center; }
  .footer__menu {
    width: 135px;
    height: 220px; }
    .footer__menu ul {
      height: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: flex-start;
      font-family: "Poppins", sans-serif; }
      .footer__menu ul li {
        height: 12px;
        list-style: none;
        text-transform: uppercase;
        margin-top: 20px; }
        .footer__menu ul li.title {
          height: 48px;
          margin: 0;
          font-size: 14px;
          line-height: 48px;
          font-weight: 600; }
        .footer__menu ul li a {
          font-size: 12px;
          line-height: 12px;
          text-decoration: none;
          font-weight: 300;
          color: black; }
          .footer__menu ul li a:hover {
            font-weight: 500; }
  .footer__logo {
    width: 200px;
    height: 59px; }
  .footer__socialMedia {
    width: 132px;
    height: 24px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center; }
    .footer__socialMedia .icono {
      font-size: 24px;
      color: black; }
      .footer__socialMedia .icono:hover {
        color: gray; }

.btn_checkout {
  color: white;
  background-color: black;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out; }
  .btn_checkout:hover {
    color: white;
    background-color: #4d4d4d; }

.field-container {
  position: relative; }
  .field-container .field-container:first-of-type {
    grid-area: name; }
  .field-container .field-container:nth-of-type(2) {
    grid-area: number; }
  .field-container .field-container:nth-of-type(3) {
    grid-area: expiration; }
  .field-container .field-container:nth-of-type(4) {
    grid-area: security; }
  .field-container input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.form-container {
  /* display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto auto;
    grid-template-rows: 90px 90px 90px;
    grid-template-areas:
						"name name"
						"number number"
						"expiration security"; */
  max-width: 400px;
  padding: 20px;
  color: #707070;
  margin-top: 30%; }

label {
  padding-bottom: 5px;
  font-size: 13px; }

input {
  margin-top: 3px;
  padding: 15px;
  font-size: 16px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #dcdcdc; }

.ccicon {
  height: 38px;
  position: absolute;
  right: 6px;
  top: calc(50% - 17px);
  width: 60px; }

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important; }

.container {
  width: 100%;
  max-width: 400px;
  max-height: 250px;
  height: 54vw;
  padding: 20px;
  position: absolute;
  top: calc(0px - 20%); }

#ccsingle {
  position: absolute;
  right: 15px;
  top: 20px; }

#ccsingle svg {
  width: 100px;
  max-height: 60px; }

.creditcard svg#cardfront, .creditcard svg#cardback {
  width: 100%;
  -webkit-box-shadow: 1px 5px 6px 0px black;
  box-shadow: 1px 5px 6px 0px black;
  border-radius: 22px; }

#generatecard {
  cursor: pointer;
  float: right;
  font-size: 12px;
  color: #fff;
  padding: 2px 4px;
  background-color: #909090;
  border-radius: 4px;
  cursor: pointer;
  float: right; }

.creditcard .lightcolor, .creditcard .darkcolor {
  -webkit-transition: fill .5s;
  transition: fill .5s; }

.creditcard .lightblue {
  fill: #03A9F4; }

.creditcard .lightbluedark {
  fill: #0288D1; }

.creditcard .red {
  fill: #ef5350; }

.creditcard .reddark {
  fill: #d32f2f; }

.creditcard .purple {
  fill: #ab47bc; }

.creditcard .purpledark {
  fill: #7b1fa2; }

.creditcard .cyan {
  fill: #26c6da; }

.creditcard .cyandark {
  fill: #0097a7; }

.creditcard .green {
  fill: #66bb6a; }

.creditcard .greendark {
  fill: #388e3c; }

.creditcard .lime {
  fill: #d4e157; }

.creditcard .limedark {
  fill: #afb42b; }

.creditcard .yellow {
  fill: #ffeb3b; }

.creditcard .yellowdark {
  fill: #f9a825; }

.creditcard .orange {
  fill: #ff9800; }

.creditcard .orangedark {
  fill: #ef6c00; }

.creditcard .grey {
  fill: #bdbdbd; }

.creditcard .greydark {
  fill: #616161; }

#svgname {
  text-transform: uppercase; }

#cardfront .st2 {
  fill: #FFFFFF; }

#cardfront .st3 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 600; }

#cardfront .st4 {
  font-size: 54.7817px; }

#cardfront .st5 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 400; }

#cardfront .st6 {
  font-size: 33.1112px; }

#cardfront .st7 {
  opacity: 0.6;
  fill: #FFFFFF; }

#cardfront .st8 {
  font-size: 24px; }

#cardfront .st9 {
  font-size: 36.5498px; }

#cardfront .st10 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 300; }

#cardfront .st11 {
  font-size: 16.1716px; }

#cardfront .st12 {
  fill: #4C4C4C; }

#cardback .st0 {
  fill: none;
  stroke: #0F0F0F;
  stroke-miterlimit: 10; }

#cardback .st2 {
  fill: #111111; }

#cardback .st3 {
  fill: #F2F2F2; }

#cardback .st4 {
  fill: #D8D2DB; }

#cardback .st5 {
  fill: #C4C4C4; }

#cardback .st6 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 400; }

#cardback .st7 {
  font-size: 27px; }

#cardback .st8 {
  opacity: 0.6; }

#cardback .st9 {
  fill: #FFFFFF; }

#cardback .st10 {
  font-size: 24px; }

#cardback .st11 {
  fill: #EAEAEA; }

#cardback .st12 {
  font-family: 'Rock Salt', cursive; }

#cardback .st13 {
  font-size: 37.769px; }

.container {
  perspective: 1000px; }

.creditcard {
  width: 100%;
  max-width: 400px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: -webkit-transform 0.6s;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  cursor: pointer; }
  .creditcard .front, .creditcard .back {
    position: absolute;
    width: 100%;
    max-width: 400px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    color: #47525d; }
  .creditcard .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  .creditcard.flipped {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); }

@media only screen and (max-width: 768px) {
  .nav__logoContainer {
    width: 100%;
    height: auto; }
  .nav__logo {
    width: 100%;
    height: auto; }
  .nav__menuDesktop li {
    margin-left: 20%; }
  .nav__menuMobile {
    display: none; }
  .bannerPromo__container {
    width: 100%;
    max-width: 90%;
    left: 5%; }
  .titulo {
    height: unset; }
  .checkout__producto__imagen {
    max-width: 100px; }
  .checkout__producto__detalle {
    height: 100px; }
  .checkout__producto__nombre {
    font-size: 1.2rem; }
  .checkout__producto__cantidad {
    font-size: 12px; } }

@media only screen and (max-width: 600px) {
  .nav {
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "ico ico ico ico logo logo logo logo cart cart cart cart"; }
    .nav__logoContainer {
      grid-area: logo; }
    .nav__icoMobile {
      width: 36px;
      display: block;
      grid-area: ico;
      grid-column-start: 2; }
      .nav__icoMobile img {
        width: 36px;
        height: 36px; }
    .nav__menuDesktop {
      display: none; }
    .nav__menuMobile {
      width: 100%;
      top: 100px;
      display: none;
      position: absolute;
      background-color: white;
      border-bottom: 1px solid #cccccc;
      box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.1); }
      .nav__menuMobile ul {
        width: 100%;
        position: relative;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 10%; }
      .nav__menuMobile li {
        list-style: none;
        text-transform: uppercase; }
      .nav__menuMobile a {
        font-family: "Poppins", sans-serif;
        font-size: 1rem;
        line-height: 4rem;
        text-decoration: none;
        font-weight: 600;
        color: black; }
  .marcas {
    width: 100%;
    margin-top: 60px;
    grid-area: marcas;
    grid-column-start: 2;
    grid-column-end: 12; }
    .marcas__logos {
      width: 100%;
      margin-top: 30px;
      display: none;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center; }
      .marcas__logos img {
        width: 33%;
        max-height: 120px;
        object-fit: contain; }
    .marcas__carrousel {
      width: 100%;
      margin-top: 30px;
      display: block; }
      .marcas__carrousel img {
        max-height: 120px;
        object-fit: contain; }
  .productos {
    margin-top: 30px; }
    .productos__header {
      width: 100%;
      flex-flow: row wrap; }
    .productos__filtro {
      width: 100%;
      margin-top: 30px; }
      .productos__filtro-title {
        display: none; }
      .productos__filtro .form-select {
        width: 100%; }
  .titulo {
    width: 100%; }
  .footer__menu {
    width: 33%; }
  .footer__logo {
    width: 33%;
    height: unset; }
    .footer__logo img {
      width: 100%; }
  .footer__socialMedia {
    width: 33%;
    justify-content: flex-end; }
    .footer__socialMedia .icono {
      margin-left: 20px; }
  .checkout__container__form {
    padding-right: 0; }
    .checkout__container__form__title {
      margin-left: 5%;
      margin-top: 30px;
      margin-bottom: 15px; } }

@media only screen and (max-width: 425px) {
  .nav__cart {
    padding: 0px 6px; }
    .nav__cart p {
      font-size: 14px;
      line-height: 14px;
      margin-right: 6px; }
  .bannerPromo__container {
    width: 100%;
    max-width: 90%;
    left: 5%; }
  .bannerPromo__texto {
    font-size: 3rem; }
  .footer__menu {
    width: 33%; }
  .footer__logo {
    width: 33%;
    height: unset; }
    .footer__logo img {
      width: 100%; }
  .footer__socialMedia {
    width: 33%;
    height: max-content;
    flex-flow: column;
    justify-content: center;
    align-items: flex-end; }
    .footer__socialMedia .icono {
      margin: 10px 0; } }

@media only screen and (max-width: 375px) {
  .nav__carrito li {
    position: unset; }
  .nav__cart {
    width: 100%; }
    .nav__cart p {
      display: none; }
  .nav__submenu {
    position: fixed;
    width: 100%;
    min-width: 80%;
    right: unset;
    left: 0;
    top: 100px; }
  .btn_checkout {
    width: 100%; }
  .checkout__volver {
    width: 95%; } }
