@font-face {
  font-family: "DIN Next LT Pro Regular";
  src: url("../resources/fonts/DINNextLTPro-Regular.ttf"); }

@font-face {
  font-family: "DIN Next LT Pro Medium";
  src: url("../resources/fonts/DINNextLTPro-Medium.ttf"); }

/*---------- RESET DE CSS ----------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  height: 100%; }

body {
  line-height: 1;
  height: calc(100% - 321px); }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*---------- TERMINA RESET DE CSS ----------*/
.nav {
  width: 100%;
  height: 100px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px;
  column-gap: 30px;
  grid-template-areas: "logo logo logo logo nav nav nav nav nav nav cart cart";
  align-items: center;
  justify-content: end;
  z-index: 1; }
  .nav__logoContainer {
    width: 100%;
    height: 60px;
    grid-area: logo;
    grid-column-start: 2; }
  .nav__logo {
    width: 204px;
    height: 60px; }
  .nav__icoMobile {
    display: none; }
  .nav__menuDesktop {
    width: 100%;
    margin: auto;
    grid-area: nav; }
    .nav__menuDesktop ul {
      height: 16px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 10%; }
    .nav__menuDesktop li {
      height: 16px;
      list-style: none;
      text-transform: uppercase;
      margin-left: 100px; }
    .nav__menuDesktop a {
      font-family: "Poppins", sans-serif;
      font-size: 16px;
      line-height: 16px;
      text-decoration: none;
      font-weight: 600;
      color: #000000; }
  .nav__menuMobile {
    display: none; }
  .nav__carrito {
    grid-area: cart;
    grid-column-end: 12; }
    .nav__carrito li {
      position: relative; }
  .nav__cart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 12px;
    height: 31px;
    width: max-content;
    border-radius: 6px;
    background-color: #000000;
    color: #FFFFFF; }
    .nav__cart p {
      font-family: "Poppins", sans-serif;
      font-size: 16px;
      line-height: 16px;
      font-weight: 600;
      margin-right: 12px;
      visibility: visible; }
    .nav__cart i {
      font-size: 16px; }
    .nav__cart:hover {
      background-color: #333333;
      cursor: pointer; }
    .nav__cart.disabled {
      color: #8A8A8A;
      background-color: #FFFFFF;
      cursor: default; }
      .nav__cart.disabled p {
        visibility: hidden; }
  .nav__submenu {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 2;
    background-color: #FFFFFF;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 350px; }
    .nav__submenu__title {
      font-family: "DIN Next LT Pro Medium", sans-serif;
      font-size: 18px;
      line-height: 14px;
      letter-spacing: 1.25px;
      text-transform: uppercase;
      margin-bottom: 15px; }

.lista__carrito {
  border-collapse: separate;
  border-spacing: 0 5px;
  width: 100%;
  text-align: center; }
  .lista__carrito__imagen, .lista__carrito img {
    width: 50px;
    height: 50px;
    vertical-align: middle; }
  .lista__carrito__producto {
    vertical-align: middle;
    text-align: left;
    font-family: "DIN Next LT Pro Medium", sans-serif;
    font-size: 14px;
    padding: 0px 12px; }
  .lista__carrito__cantidad {
    width: 25px;
    vertical-align: middle;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px; }
  .lista__carrito__precio {
    width: 39px;
    vertical-align: middle;
    font-family: "DIN Next LT Pro Medium", sans-serif;
    font-size: 14px;
    padding: 0px 12px; }
  .lista__carrito__delete {
    width: 14px;
    height: 14px;
    vertical-align: middle; }
  .lista__carrito tr {
    margin-bottom: 5px; }

.fa-times {
  font-size: 14px;
  color: #000000; }

.comprar__carrito {
  font-family: "DIN Next LT Pro Medium", sans-serif;
  font-size: 14px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  width: 100%;
  height: 36px;
  border: 1px solid #000000;
  border-radius: 4px;
  margin-top: 15px; }
  .comprar__carrito:hover {
    background-color: #D2D2D2; }

.main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto auto auto auto;
  column-gap: 30px;
  column-width: 65px;
  margin-top: 100px;
  grid-template-areas: "banner banner banner banner banner banner banner banner banner banner banner banner" "marcas marcas marcas marcas marcas marcas marcas marcas marcas marcas marcas marcas" "productos productos productos productos productos productos productos productos productos productos productos productos" "promo promo promo promo promo promo promo promo promo promo promo promo" "servicios servicios servicios servicios servicios servicios servicios servicios servicios servicios servicios servicios"; }

.checkout {
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  column-gap: 30px;
  column-width: 65px;
  margin-top: 100px;
  grid-template-areas: "container container container container container container container container container container container container"; }
  .checkout__volver {
    font-family: "DIN Next LT Pro Medium", sans-serif;
    font-size: 14px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    max-width: 350px;
    height: 36px;
    border: 1px solid #000000;
    border-radius: 4px;
    margin-top: 30px; }
    .checkout__volver:hover {
      background-color: #D2D2D2; }
  .checkout__container {
    grid-area: container;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 30px;
    column-width: 65px; }
    .checkout__container__productos {
      width: 100%;
      padding-left: 8.33%; }
      .checkout__container__productos__title {
        margin-top: 30px;
        margin-bottom: 30px; }
    .checkout__container__form {
      width: 100%;
      background-color: #F5F5F5;
      padding-right: 8.33%;
      font-family: "Poppins", sans-serif; }
      .checkout__container__form__title {
        margin-top: 96px;
        margin-bottom: 30px; }
      .checkout__container__form form {
        max-width: 80%;
        margin: auto; }
      .checkout__container__form-boton {
        text-align: right;
        margin-bottom: 30px; }
      .checkout__container__form #precio__total {
        font-family: "DIN Next LT Pro Medium", sans-serif;
        font-size: 28px;
        line-height: 20px;
        text-align: right;
        margin-top: 30px; }
  .checkout__producto {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px; }
    .checkout__producto__imagen {
      max-width: 120px; }
    .checkout__producto__detalle {
      width: 100%;
      padding-left: 30px;
      height: 120px; }
    .checkout__producto__nombre {
      font-family: "DIN Next LT Pro Medium", sans-serif;
      font-size: 24px; }
    .checkout__producto__unidades {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      margin-top: 14px; }
    .checkout__producto__cantidad {
      font-family: "DIN Next LT Pro Regular", sans-serif;
      font-style: normal;
      font-size: 14px;
      line-height: 14px; }
    .checkout__producto__precio {
      font-family: "DIN Next LT Pro Medium", sans-serif;
      font-size: 20px;
      line-height: 20px;
      text-align: right; }

.checkout form input {
  border: 1px solid #988; }

.banner {
  width: 100%;
  max-height: 300px;
  grid-area: banner; }
  .banner img {
    width: 100%;
    max-height: 300px;
    object-fit: cover; }

.titulo {
  font-family: "DIN Next LT Pro Medium", sans-serif;
  font-size: 24px;
  line-height: 24px;
  height: 29px;
  border-left: 4px solid #000000;
  padding-top: 5px;
  padding-left: 15px;
  text-transform: uppercase; }

.marcas {
  margin-top: 60px;
  grid-area: marcas;
  grid-column-start: 2;
  grid-column-end: 12;
  width: 100%; }
  .marcas__logos {
    margin-top: 30px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
    .marcas__logos img {
      max-height: 120px;
      width: 100%;
      object-fit: contain; }
  .marcas__carrousel {
    display: none; }

.alerta {
  width: 70%;
  display: none;
  opacity: 0;
  position: absolute;
  margin: 0;
  top: 100%;
  left: 50%;
  margin-left: -35%;
  z-index: 1; }
  .alerta-hidden {
    opacity: 0; }

.productos {
  margin-top: 60px;
  grid-area: productos;
  grid-column-start: 2;
  grid-column-end: 12; }
  .productos__header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px; }
  .productos__filtro {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center; }
    .productos__filtro-title {
      margin-right: 30px;
      font-family: "Poppins", sans-serif; }
    .productos__filtro .form-select {
      width: max-content;
      font-family: "Poppins", sans-serif; }
  .productos .col {
    text-align: center; }

.producto {
  margin-top: 15px;
  margin-bottom: 15px; }
  .producto__imagenProducto {
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
    margin: 0;
    max-width: 350px; }
  .producto__detalle {
    background-color: #F5F5F5;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    margin: 0;
    font-family: "DIN Next LT Pro Medium", sans-serif;
    letter-spacing: 1.25px;
    width: 100%;
    max-width: 350px;
    margin: auto; }
  .producto__nombre {
    width: 70%;
    line-height: 16px;
    font-size: 16px;
    text-align: start;
    overflow: hidden;
    text-overflow: ellipsis; }
  .producto__precio {
    width: 30%;
    font-size: 18px;
    text-align: right; }
  .producto__btn__agregarCarrito {
    font-family: "DIN Next LT Pro Medium", sans-serif;
    font-size: 14px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    width: 100%;
    max-width: 350px;
    height: 36px;
    border: 1px solid #000000;
    border-radius: 4px; }
    .producto__btn__agregarCarrito:hover {
      background-color: #D2D2D2; }
    .producto__btn__agregarCarrito i {
      margin-right: 8px; }

.verMas {
  font-family: "DIN Next LT Pro Medium", sans-serif;
  font-size: 14px;
  letter-spacing: 1.25px;
  height: 36px;
  min-width: 64px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  display: flex;
  flex-flow: row nowrap;
  align-items: center; }
  .verMas i {
    margin-right: 8px;
    margin-bottom: 2px;
    font-size: 14px; }

.bannerPromo {
  grid-area: promo;
  position: relative;
  margin-top: 60px; }
  .bannerPromo__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100px;
    left: 10%; }
  .bannerPromo__texto {
    font-family: "DIN Next LT Pro Medium", sans-serif;
    color: white;
    font-size: 72px;
    text-align: center; }
  .bannerPromo img {
    width: 100%;
    height: 450px;
    object-fit: cover; }
  .bannerPromo button {
    margin-top: 50px;
    height: 60px;
    width: 250px;
    background-color: #FFFFFF;
    color: #000000;
    font-family: "DIN Next LT Pro Medium", sans-serif;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    border-radius: 4px; }
    .bannerPromo button:hover {
      background-color: #D2D2D2; }

.servicios {
  grid-area: servicios;
  display: flex;
  align-items: center;
  grid-column-start: 2;
  grid-column-end: 12; }
  .servicios__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(11.3rem, 1fr));
    column-gap: 1.8rem;
    row-gap: 1.8rem;
    margin-top: 30px;
    margin-bottom: 30px; }
  .servicios__card {
    height: 168px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    border-radius: 6px; }
    .servicios__card img {
      width: 40px;
      height: 40px;
      margin-bottom: 30px; }
    .servicios__card p {
      font-family: "DIN Next LT Pro Regular", sans-serif;
      font-size: 16px;
      letter-spacing: 0.5px;
      text-align: center; }

.footer {
  height: 220px;
  margin: 0 6%; }
  .footer__separator {
    color: #000000;
    margin: 0; }
  .footer__container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center; }
  .footer__menu {
    width: 135px;
    height: 220px; }
    .footer__menu ul {
      height: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: flex-start;
      font-family: "Poppins", sans-serif; }
      .footer__menu ul li {
        height: 12px;
        list-style: none;
        text-transform: uppercase;
        margin-top: 20px; }
        .footer__menu ul li.title {
          height: 48px;
          margin: 0;
          font-size: 14px;
          line-height: 48px;
          font-weight: 600; }
        .footer__menu ul li a {
          font-size: 12px;
          line-height: 12px;
          text-decoration: none;
          font-weight: 300;
          color: #000000; }
          .footer__menu ul li a:hover {
            font-weight: 500; }
  .footer__logo {
    width: 200px;
    height: 59px; }
  .footer__socialMedia {
    width: 132px;
    height: 24px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center; }
    .footer__socialMedia .icono {
      font-size: 24px;
      color: #000000; }
      .footer__socialMedia .icono:hover {
        color: #8A8A8A; }

@media only screen and (max-width: 768px) {
  .nav__logoContainer {
    width: 100%;
    height: auto; }
  .nav__logo {
    width: 100%;
    height: auto; }
  .nav__menuDesktop li {
    margin-left: 20%; }
  .bannerPromo__container {
    width: 100%;
    max-width: 90%;
    left: 5%; }
  .titulo {
    height: unset; } }

@media only screen and (max-width: 600px) {
  .nav {
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "ico ico ico ico logo logo logo logo cart cart cart cart"; }
    .nav__logoContainer {
      grid-area: logo; }
    .nav__icoMobile {
      display: block;
      grid-area: ico;
      grid-column-start: 2;
      width: 36px; }
      .nav__icoMobile img {
        width: 36px;
        height: 36px; }
    .nav__menuDesktop {
      display: none; }
    .nav__menuMobile {
      display: none;
      position: absolute;
      width: 100%;
      background-color: #FFFFFF;
      top: 100px;
      border-bottom: 1px solid #D2D2D2;
      box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.1); }
      .nav__menuMobile ul {
        position: relative;
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 10%; }
      .nav__menuMobile li {
        list-style: none;
        text-transform: uppercase; }
      .nav__menuMobile a {
        font-family: "Poppins", sans-serif;
        font-size: 1rem;
        line-height: 4rem;
        text-decoration: none;
        font-weight: 600;
        color: #000000; }
  .marcas {
    margin-top: 60px;
    grid-area: marcas;
    grid-column-start: 2;
    grid-column-end: 12;
    width: 100%; }
    .marcas__logos {
      margin-top: 30px;
      display: none;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      width: 100%; }
      .marcas__logos img {
        max-height: 120px;
        width: 33%;
        object-fit: contain; }
    .marcas__carrousel {
      display: block;
      width: 100%;
      margin-top: 30px; }
      .marcas__carrousel img {
        object-fit: contain;
        max-height: 120px; }
  .productos {
    margin-top: 30px; }
    .productos__header {
      width: 100%;
      flex-flow: row wrap; }
    .productos__filtro {
      width: 100%;
      margin-top: 30px; }
      .productos__filtro-title {
        display: none; }
      .productos__filtro .form-select {
        width: 100%; }
  .titulo {
    width: 100%; }
  .footer__menu {
    width: 33%; }
  .footer__logo {
    width: 33%;
    height: unset; }
    .footer__logo img {
      width: 100%; }
  .footer__socialMedia {
    width: 33%;
    justify-content: flex-end; }
    .footer__socialMedia .icono {
      margin-left: 20px; } }

@media only screen and (max-width: 425px) {
  .bannerPromo__container {
    width: 100%;
    max-width: 90%;
    left: 5%; }
  .bannerPromo__texto {
    font-size: 3rem; }
  .footer__menu {
    width: 33%; }
  .footer__logo {
    width: 33%;
    height: unset; }
    .footer__logo img {
      width: 100%; }
  .footer__socialMedia {
    width: 33%;
    flex-flow: column;
    justify-content: center;
    height: max-content;
    align-items: flex-end; }
    .footer__socialMedia .icono {
      margin: 10px 0; } }
