@import "variables";

@font-face {
	font-family: "DIN Next LT Pro Regular";
	src: url("../resources/fonts/DINNextLTPro-Regular.ttf");
}
@font-face {
	font-family: "DIN Next LT Pro Medium";
	src: url("../resources/fonts/DINNextLTPro-Medium.ttf");
}

/*---------- RESET DE CSS ----------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
	height: 100%;
}
body {
	line-height: 1;
	height: calc(100% - 321px);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---------- TERMINA RESET DE CSS ----------*/
.nav{
	width: 100%;
	height: 100px;
	background-color: $colorWhite;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
	position: fixed;
	top: 0;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 100px;
	column-gap: 30px;
	grid-template-areas: "logo logo logo logo nav nav nav nav nav nav cart cart";
	align-items: center;
	justify-content: end;
	z-index: 1;
	&__logoContainer{
		width: 100%;
		height: 60px;
		grid-area: logo;
		grid-column-start: 2;
	}
	&__logo{
		width: 204px;
		height: 60px;
	}
	&__icoMobile{
		display: none;
	}
	&__menuDesktop{
		width: 100%;
		margin: auto;
		grid-area: nav;
		ul{
			height: 16px;
			display: flex;
			justify-content: flex-end;
            align-items: center;
			padding-right: 10%;
		}
		li{
			height: 16px;
            list-style: none;
			text-transform: uppercase;
			margin-left: 100px;
		}
		a{
			font-family: $fontPoppins;
			font-size: 16px;
			line-height: 16px;
			text-decoration: none;
			font-weight: 600;
			color: $colorBlackDark;
		}
	}
	&__menuMobile{
		display: none;
	}
	&__carrito{
		grid-area: cart;
		grid-column-end: 12;
		& li{
			position: relative;
		}
	}
	&__cart{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 0px 12px;
		height: 31px;
		width: max-content;
		border-radius: 6px;
		background-color: $colorBlackDark;
		color: $colorWhite;
		p{
			font-family: $fontPoppins;
			font-size: 16px;
			line-height: 16px;
			font-weight: 600;
			margin-right: 12px;
			visibility: visible;
		}
		i{
			font-size: 16px;
		}
		&:hover{
			background-color: $colorBlackLight;
			cursor: pointer;
		}
		&.disabled{
			color: $colorGrayDark;
			background-color: $colorWhite;
			cursor: default;
			p{
				visibility: hidden;
			}
		}
	}
	&__submenu{
		display: none;
    	position: absolute;
    	right: 0;
    	top: 100%;
    	z-index: 2;
    	background-color: $colorWhite;
		padding-top: 40px;
		padding-bottom: 20px;
		padding-left: 15px;
		padding-right: 15px;
    	min-width: 350px;
		&__title{
			font-family: $fontDINMedium;
			font-size: 18px;
			line-height: 14px;
			letter-spacing: 1.25px;
			text-transform: uppercase;
			margin-bottom: 15px;
		}
	}
}

.lista__carrito{
	border-collapse: separate;
	border-spacing: 0 5px;
	width: 100%;
	text-align: center;
	&__imagen, img{
		width: 50px;
		height: 50px;
		vertical-align: middle;
	}
	&__producto{
		vertical-align: middle;
		text-align: left;
		font-family: $fontDINMedium;
		font-size: 14px;
		padding: 0px 12px;
	}
	&__cantidad{
		width: 25px;
		vertical-align: middle;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 12px;
	}
	&__precio{
		width: 39px;
		vertical-align: middle;
		font-family: $fontDINMedium;
		font-size: 14px;
		padding: 0px 12px;
	}
	&__delete{
		width: 14px;
		height: 14px;
		vertical-align: middle;
	}
	& tr{
		margin-bottom: 5px;
	}
}
.fa-times{
	font-size: 14px;
	color: $colorBlackDark;
}
.comprar__carrito{
	font-family: $fontDINMedium;
	font-size: 14px;
	letter-spacing: 1.25px;
	text-transform: uppercase;
	width: 100%;
	height: 36px;
	border: 1px solid $colorBlackDark;
	border-radius: 4px;
	margin-top: 15px;
	&:hover{
		background-color: $colorGrayLight;
	}
}

.main{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto auto auto auto auto auto;
	column-gap: 30px;
	column-width: 65px;
	margin-top: 100px;
	grid-template-areas: 
						"banner banner banner banner banner banner banner banner banner banner banner banner"
						"marcas marcas marcas marcas marcas marcas marcas marcas marcas marcas marcas marcas"
						"productos productos productos productos productos productos productos productos productos productos productos productos"
						"promo promo promo promo promo promo promo promo promo promo promo promo"
						"servicios servicios servicios servicios servicios servicios servicios servicios servicios servicios servicios servicios";
}

.checkout{
	width: 100%;
	min-height: 100%;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
	column-gap: 30px;
	column-width: 65px;
	margin-top: 100px;
	grid-template-areas:
						"container container container container container container container container container container container container";
	&__volver{
		font-family: $fontDINMedium;
		font-size: 14px;
		letter-spacing: 1.25px;
		text-transform: uppercase;
		max-width: 350px;
		height: 36px;
		border: 1px solid $colorBlackDark;
		border-radius: 4px;
		margin-top: 30px;
		&:hover{
			background-color: $colorGrayLight;
		}
	}
	&__container{
		grid-area: container;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
		column-gap: 30px;
		column-width: 65px;
		&__productos{
			width: 100%;
			padding-left: 8.33%;
			&__title{
				margin-top: 30px;
				margin-bottom: 30px;
			}
		}
		&__form{
			width: 100%;
			background-color: $colorSectionBg;
			padding-right: 8.33%;
			font-family: $fontPoppins;
			&__title{
				margin-top: 96px;
				margin-bottom: 30px;
			}
			form{
				max-width: 80%;
				margin: auto;
			}
			&-boton{
				text-align: right;
				margin-bottom: 30px;
			}
			#precio__total{
				font-family: $fontDINMedium;
				font-size: 28px;
				line-height: 20px;
				text-align: right;
				margin-top: 30px;
			}
		}
	}
	&__producto{
		width: 100%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 30px;
		&__imagen{
			max-width: 120px;
		}
		&__detalle{
			width: 100%;
			padding-left: 30px;
			height: 120px;
		}
		&__nombre{
			font-family: $fontDINMedium;
			font-size: 24px;
		}
		&__unidades{
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: center;
			margin-top: 14px;
		}
		&__cantidad{
			font-family: $fontDINRegular;
			font-style: normal;
			font-size: 14px;
			line-height: 14px;
		}
		&__precio{
			font-family: $fontDINMedium;
			font-size: 20px;
			line-height: 20px;
			text-align: right;
		}
	}
}

.checkout form input{
	border: 1px solid #988;
}

.banner{
	width: 100%;
	max-height: 300px;
	grid-area: banner;
	img{
		width: 100%;
		max-height: 300px;
		object-fit: cover;
	}
}

.titulo{
	font-family: $fontDINMedium;
	font-size: 24px;
	line-height: 24px;
	height: 29px;
	border-left: 4px solid $colorBlackDark;
	padding-top: 5px;
	padding-left: 15px;
	text-transform: uppercase;
}

.marcas{
	margin-top: 60px;
	grid-area: marcas;
	grid-column-start: 2;
	grid-column-end: 12;
	width: 100%;	
	&__logos{
		margin-top: 30px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		img{
			max-height: 120px;
			width: 100%;
			object-fit: contain;
		}
	}
	&__carrousel{
		display: none;
	}
}

.alerta{
	width: 70%;
	display: none;
	opacity: 0;
	position: absolute;
	margin: 0;
	top: 100%;
	left: 50%;
	margin-left: -35%;
	z-index: 1;
	&-hidden{
		opacity: 0;
	}
}

.productos{
	margin-top: 60px;
	grid-area: productos;
	grid-column-start: 2;
	grid-column-end: 12;
	&__header{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 15px;
	}
	&__filtro{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		&-title{
			margin-right: 30px;
			font-family: $fontPoppins;
		}
		.form-select{
			width: max-content;
			font-family: $fontPoppins;
		}
	}
	.col{
		text-align: center;
	}
}

.producto{
	margin-top: 15px;
	margin-bottom: 15px;
	&__imagenProducto{
		width: 100%;
		object-fit: cover;
		vertical-align: middle;
		margin: 0;
		max-width: 350px;
	}
	&__detalle{
		background-color: $colorBorder;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		padding: 12px;
		margin: 0;
		font-family: $fontDINMedium;
		letter-spacing: 1.25px;
		width: 100%;
		max-width: 350px;
		margin: auto;
	}
	&__nombre{
		width: 70%;
		line-height: 16px;
		font-size: 16px;
		text-align: start;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	&__precio{
		width: 30%;
		font-size: 18px;
		text-align: right;
	}
	&__btn__agregarCarrito{
		font-family: $fontDINMedium;
		font-size: 14px;
		letter-spacing: 1.25px;
		text-transform: uppercase;
		width: 100%;
		max-width: 350px;
		height: 36px;
		border: 1px solid $colorBlackDark;
		border-radius: 4px;
		&:hover{
			background-color: $colorGrayLight;
		}
		i{
			margin-right: 8px;
		}
	}
}

.verMas{
	font-family: $fontDINMedium;
	font-size: 14px;
	letter-spacing: 1.25px;
	height: 36px;
	min-width: 64px;
	text-transform: uppercase;
	text-decoration: none;
	color: $colorBlackDark;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	i{
		margin-right: 8px;
		margin-bottom: 2px;
		font-size: 14px;
	}
}

.bannerPromo{
	grid-area: promo;
	position: relative;
	margin-top: 60px;
	&__container{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 100px;
		left: 10%;
	}
	&__texto{
		font-family: $fontDINMedium;
		color: white;
		font-size: 72px;
		text-align: center;
	}
	img{	
		width: 100%;
		height: 450px;
		object-fit: cover;
	}
	button{
		margin-top: 50px;
		height: 60px;
		width: 250px;
		background-color: $colorWhite;
		color: $colorBlackDark;
		font-family: $fontDINMedium;
		font-size: 14px;
		line-height: 14px;
		letter-spacing: 1.25px;
		text-transform: uppercase;
		border-radius: 4px;
		&:hover{
			background-color: $colorGrayLight;
		}
	}
}

.servicios{
	grid-area: servicios;
	display: flex;
	align-items: center;
	grid-column-start: 2;
	grid-column-end: 12;
	&__container{
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(11.3rem, 1fr));
		column-gap: 1.8rem;
		row-gap: 1.8rem;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	&__card{
		height: 168px;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: $colorSectionBg;
		border-radius: 6px;
		img{
			width: 40px;
			height: 40px;
			margin-bottom: 30px;
		}
		p{
			font-family: $fontDINRegular;
			font-size: 16px;
			letter-spacing: 0.5px;
			text-align: center;
		}
	}
}

.footer{
	height: 220px;
	margin: 0 6%;
	&__separator{
		color: $colorBlackDark;
		margin: 0;
	}
	&__container{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
	}
	&__menu{
		width: 135px;
		height: 220px;
		ul{
			height: 100%;
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			align-items: flex-start;
			font-family: $fontPoppins;
			li{
				height: 12px;
				list-style: none;
				text-transform: uppercase;
				margin-top: 20px;
				&.title{
					height: 48px;
					margin: 0;
					font-size: 14px;
					line-height: 48px;
					font-weight: 600;
				}
				a{
					font-size: 12px;
					line-height: 12px;
					text-decoration: none;
					font-weight: 300;
					color: $colorBlackDark;
					&:hover{
						font-weight: 500;
					}
				}
			}
		}
	}
	&__logo{
		width: 200px;
		height: 59px;
	}
	&__socialMedia{
		width: 132px;
		height: 24px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		.icono{
			font-size: 24px;
			color: $colorBlackDark;
			&:hover{
				color: $colorGrayDark;
			}
		}
	}
}

@media only screen and (max-width: 768px){
	.nav{
		&__logoContainer{
			width: 100%;
			height: auto;
		}
		&__logo{
			width: 100%;
			height: auto;
		}
		&__icoMobile{
		}
		&__menuDesktop{
			ul{
			}
			li{
				margin-left: 20%;
			}
			a{
			}
		}
		&__menuMobile{
		}
		&__carrito{
			& li{
			}
		}
		&__cart{
			p{
			}
			i{
			}
			&:hover{
			}
			&.disabled{
				p{
				}
			}
		}
		&__submenu{
			&__title{
			}
		}
	}
	.bannerPromo{
		&__container{
			width: 100%;
			max-width: 90%;
			left: 5%;
		}
		&__texto{
		}
		img{
		}
		button{
			&:hover{
			}
		}
	}
	.titulo{
		height: unset;
	}
}

@media only screen and (max-width: 600px){
	.nav{
		grid-template-columns: repeat(12,1fr);
		grid-template-areas:
							"ico ico ico ico logo logo logo logo cart cart cart cart";
		&__logoContainer{
			grid-area: logo;
		}
		&__logo{
		}
		&__icoMobile{
			display: block;
			grid-area: ico;
			grid-column-start: 2;
			width: 36px;
			img{
				width: 36px;
				height: 36px;
			}
		}
		&__menuDesktop{
			display: none;
			ul{
			}
			li{
			}
			a{
			}
		}
		&__menuMobile{
			display: none;
			position: absolute;
			width: 100%;
			background-color: $colorWhite;
			top: 100px;
			border-bottom: 1px solid $colorGrayLight;
			box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.1);
			ul{
				position: relative;
				width: 100%;
				display: flex;
				flex-flow: column;
				justify-content: flex-start;
				align-items:flex-start;
				padding-left: 10%;
			}
			li{
				list-style: none;
				text-transform: uppercase;
			}
			a{
				font-family: $fontPoppins;
				font-size: 1rem;
				line-height: 4rem;
				text-decoration: none;
				font-weight: 600;
				color: $colorBlackDark;
			}
		}
		&__carrito{
			& li{
			}
		}
		&__cart{
			p{
			}
			i{
			}
			&:hover{
			}
			&.disabled{
				p{
				}
			}
		}
		&__submenu{
			&__title{
			}
		}
	}
	.marcas{
		margin-top: 60px;
		grid-area: marcas;
		grid-column-start: 2;
		grid-column-end: 12;
		width: 100%;	
		&__logos{
			margin-top: 30px;
			display: none;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items:center;
			width: 100%;
			img{
				max-height: 120px;
				width: 33%;
				object-fit: contain;
			}
		}
		&__carrousel{
			display: block;
			width: 100%;
			margin-top: 30px;
			img{
				object-fit: contain;
				max-height: 120px;
			}
		}
	}
	.productos{
		margin-top: 30px;
		&__header{
			width: 100%;
			flex-flow: row wrap;

		}
		&__filtro{
			width: 100%;
			margin-top: 30px;
			&-title{
				display: none;
			}
			.form-select{
				width: 100%;
			}
		}
		.col{
		}
	}
	.titulo{
		width: 100%;
	}
	.footer{
		&__separator{
		}
		&__container{
		}
		&__menu{
			width: 33%;
			ul{
				li{
					&.title{
					}
					a{
						&:hover{
						}
					}
				}
			}
		}
		&__logo{
			width: 33%;
			height: unset;
			img{
				width: 100%;
			}
		}
		&__socialMedia{
			width: 33%;
			justify-content: flex-end;
			.icono{
				margin-left: 20px;
				&:hover{
				}
			}
		}
	}
}

@media only screen and (max-width: 425px){
	.bannerPromo{
		&__container{
			width: 100%;
			max-width: 90%;
			left: 5%;
		}
		&__texto{
			font-size: 3rem;
		}
		img{
		}
		button{
			&:hover{
			}
		}
	}
	.footer{
		&__separator{
		}
		&__container{
		}
		&__menu{
			width: 33%;
			ul{
				li{
					&.title{
					}
					a{
						&:hover{
						}
					}
				}
			}
		}
		&__logo{
			width: 33%;
			height: unset;
			img{
				width: 100%;
			}
		}
		&__socialMedia{
			width: 33%;
			flex-flow: column;
			justify-content: center;
			height: max-content;
			align-items: flex-end;
			.icono{
				margin: 10px 0;
				&:hover{
				}
			}
		}
	}
}

@media only screen and (max-width: 375px){

}