@import "variables";

@font-face {
	font-family: "DIN Next LT Pro Regular";
	src: url("../resources/fonts/DINNextLTPro-Regular.ttf");
}
@font-face {
	font-family: "DIN Next LT Pro Medium";
	src: url("../resources/fonts/DINNextLTPro-Medium.ttf");
}

/*---------- RESET DE CSS ----------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---------- TERMINA RESET DE CSS ----------*/
.nav{
	width: 100%;
	height: 100px;
	background-color: $colorWhite;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
	position: fixed;
	top: 0;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 100px;
	column-gap: 30px;
	grid-template-areas: "logo logo logo logo nav nav nav nav nav nav cart cart";
	align-items: center;
	justify-content: end;
	z-index: 1;

	&__logoContainer{
		width: 100%;
		height: 60px;
		grid-area: logo;
		grid-column-start: 2;
	}

	&__logo{
		width: 204px;
		height: 60px;
	}

	&__menuDesktop{
		width: 100%;
		margin: 0;
		grid-area: nav;
		ul{
			height: 16px;
			display: flex;
            justify-content: space-between;
            align-items: center;
		}
		li{
			height: 16px;
            list-style: none;
			text-transform: uppercase;
		}
		a{
			font-family: 'Poppins', sans-serif;
			font-size: 16px;
			line-height: 16px;
			text-decoration: none;
			font-weight: 600;
			color: $colorBlackDark;
		}
	}
	&__carrito{
		grid-area: cart;
		grid-column-end: 12;
		& li{
			position: relative;
		}
	}
	&__cart{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 0px 12px;
		height: 31px;
		width: max-content;
		border-radius: 6px;
		background-color: $colorBlackDark;
		color: $colorWhite;
		p{
			font-family: 'Poppins', sans-serif;
			font-size: 16px;
			line-height: 16px;
			font-weight: 600;
			margin-right: 12px;
		}
		i{
			font-size: 16px;
		}
		&:hover{
			background-color: $colorBlackLight;
			cursor: pointer;
		}
	}
	&__submenu{
		display: block;
    	position: absolute;
    	right:0;
    	top:65px;
    	z-index: 1;
    	background-color:$colorWhite;
		padding: 20px 15px;
    	min-width: 350px;

		&__title{
			font-family: 'DIN Next LT Pro Medium', sans-serif;
			font-size: 18px;
			line-height: 14px;
			letter-spacing: 1.25px;
			text-transform: uppercase;
			margin-bottom: 15px;
		}
	}
}

.lista__carrito{
	border-collapse: separate;
	border-spacing: 0 5px;
	width: 100%;
	text-align: center;
	&__imagen, img{
		width: 50px;
		height: 50px;
		vertical-align: middle;
	}
	&__producto{
		vertical-align: middle;
		text-align: left;
		font-family: 'DIN Next LT Pro Medium', sans-serif;
		font-size: 14px;
		padding: 0px 12px;
	}
	&__cantidad{
		width: 25px;
		vertical-align: middle;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 12px;
	}
	&__precio{
		width: 39px;
		vertical-align: middle;
		font-family: 'DIN Next LT Pro Medium', sans-serif;
		font-size: 14px;
		padding: 0px 12px;
	}
	&__delete{
		width: 14px;
		height: 14px;
		vertical-align: middle;
	}
	& tr{
		margin-bottom: 5px;
	}
}
.fa-times{
	font-size: 14px;
	color: $colorBlackDark;
}
.comprar__carrito{
	font-family: 'DIN Next LT Pro Medium', sans-serif;
	font-size: 14px;
	letter-spacing: 1.25px;
	text-transform: uppercase;
	width: 100%;
	height: 36px;
	border: 1px solid $colorBlackDark;
	border-radius: 4px;
	margin-top: 15px;
	&:hover{
		background-color: $colorGrayLight;
	}
}

.main{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto auto auto 450px auto auto;
	column-gap: 30px;
	column-width: 65px;
	margin-top: 100px;
	grid-template-areas: 
						"banner banner banner banner banner banner banner banner banner banner banner banner"
						"marcas marcas marcas marcas marcas marcas marcas marcas marcas marcas marcas marcas"
						"destacados destacados destacados destacados destacados destacados destacados destacados destacados destacados destacados destacados"
						"promo promo promo promo promo promo promo promo promo promo promo promo"
						"servicios servicios servicios servicios servicios servicios servicios servicios servicios servicios servicios servicios"
						"footer footer footer footer footer footer footer footer footer footer footer footer";
}

.banner{
	width: 100%;
	max-height: 300px;
	grid-area: banner;
	img{
		width: 100%;
		max-height: 300px;
		object-fit: cover;
	}
}

.titulo{
	font-family: 'DIN Next LT Pro Medium', sans-serif;
	font-size: 24px;
	line-height: 24px;
	height: 29px;
	border-left: 4px solid $colorBlackDark;
	padding-top: 5px;
	padding-left: 15px;
	text-transform: uppercase;
}

.marcas{
	margin-top: 60px;
	grid-area: marcas;
	grid-column-start: 2;
	grid-column-end: 12;
	
	&__logos{
		margin-top: 30px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		img{
			max-height: 120px;
		}
	}
	&__alerta{
		margin-bottom: 50px;
		&-hidden{
			display: none !important;
		}
	}
}

.destacados{
	margin-top: 60px;
	grid-area: destacados;
	grid-column-start: 2;
	grid-column-end: 12;

	&__header{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
	}

	.col{
		text-align: center;
	}
}

.producto{
	margin-top: 15px;
	margin-bottom: 15px;

	a{
		display: inline-block;
		max-width: 350px;
		height: calc(100px -1px);
		margin: 0;
	}
	&__imagenProducto{
		width: 100%;
		max-width: 350px;
		object-fit: cover;
		vertical-align: middle;
		margin: 0;
	}
	&__detalle{
		background-color: $colorBorder;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		padding: 12px;
		margin: 0;
		font-family: 'DIN Next LT Pro Medium', sans-serif;
		letter-spacing: 1.25px;
	}
	&__nombre{
		width: 70%;
		line-height: 16px;
		font-size: 16px;
		text-align: start;
	}
	&__precio{
		width: 30%;
		font-size: 18px;
		text-align: right;
	}
}

.verMas{
	font-family: 'DIN Next LT Pro Medium', sans-serif;
	font-size: 14px;
	letter-spacing: 1.25px;
	height: 36px;
	min-width: 64px;
	text-transform: uppercase;
	text-decoration: none;
	color: $colorBlackDark;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	i{
		margin-right: 8px;
		margin-bottom: 2px;
		font-size: 14px;
	}
}

.bannerPromo{
	grid-area: promo;
	position: relative;
	&__container{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 100px;
		left: 10%;
	}
	&__texto{
		font-family: 'DIN Next LT Pro Medium', sans-serif;
		color: white;
		font-size: 72px;
		text-align: center;
	}
	img{	
		width: 100%;
		height: 450px;
		object-fit: cover;
	}
	button{
		margin-top: 50px;
		height: 60px;
		width: 250px;
		background-color: $colorWhite;
		color: $colorBlackDark;
		font-family: 'DIN Next LT Pro Medium', sans-serif;
		font-size: 14px;
		line-height: 14px;
		letter-spacing: 1.25px;
		text-transform: uppercase;
		border-radius: 4px;
		&:hover{
			background-color: $colorGrayLight;
		}
	}
}

.servicios{
	grid-area: servicios;
	height: 268px;
	display: flex;
	align-items: center;
	&__container{
		width: 100%;
		display: grid;
		grid-template-columns: repeat(14, 1fr);
		column-gap: 30px;
		column-width: 65px;
		grid-template-areas:
							" emptyLeft servicioLeft servicioLeft servicioLeft servicioLeft servicioMid servicioMid servicioMid servicioMid servicioRight servicioRight servicioRight servicioRight emptyRight";
	}
	&__left{
		grid-area: servicioLeft;
		height: 168px;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: $colorSectionBg;
		border-radius: 6px;
	}
	&__mid{
		@extend .servicios__left;
		grid-area: servicioMid;
	}
	&__right{
		@extend .servicios__left;
		grid-area: servicioRight;
	}
	img{
		width: 40px;
		height: 40px;
		margin-bottom: 30px;
	}
	p{
		font-family: 'DIN Next LT Pro Regular', sans-serif;
		font-size: 16px;
		letter-spacing: 0.5px;
		text-align: center;
	}
}

.footer{
	grid-area: footer;
	height: 220px;
	margin: 0 6%;

	&__separator{
		color: $colorBlackDark;
		margin: 0;
	}

	&__container{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
	}
	&__menu{
		width: 135px;
		height: 220px;
		ul{
			height: 100%;
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			align-items: flex-start;
			font-family: 'Poppins', sans-serif;
			li{
				height: 12px;
				list-style: none;
				text-transform: uppercase;
				margin-top: 20px;
				&.title{
					height: 48px;
					margin: 0;
					font-size: 14px;
					line-height: 48px;
					font-weight: 600;
				}
				a{
					font-size: 12px;
					line-height: 12px;
					text-decoration: none;
					font-weight: 300;
					color: $colorBlackDark;
					&:hover{
						font-weight: 500;
					}
				}
			}
		}
		
	}
	&__logo{
		width: 200px;
		height: 59px;
	}
	&__socialMedia{
		width: 132px;
		height: 24px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;

		.icono{
			font-size: 24px;
			color: $colorBlackDark;
			&:hover{
				color: $colorGrayDark;
			}
		}
	}
}