$colorBlackLight:hsl(0, 0%, 25%);
$colorBlackDark: hsl(0, 0%, 0%);
$colorWhite: hsl(0, 0%, 100%);
$colorGrayLight: hsl(0, 0%, 75%);
$colorGrayDark: hsl(0, 0%, 50%);
$colorBorder: hsl(0, 0%, 90%);
$colorSectionBg: $colorBorder;
$fontPoppins: 'Poppins', sans-serif;
$fontDINMedium: 'DIN Next LT Pro Medium', sans-serif;
$fontDINRegular: 'DIN Next LT Pro Regular', sans-serif;